
@{
    ViewBag.Title = "Escolha a opção desejada?";
}

<h2>

    <p>
        @Html.ActionLink("Produtos","Index", "Produtos")
    </p>
</h2>
<h2>
<p>
    @Html.ActionLink("Carrinho", "Index", "Carrinho")
</p>
</h2>